
.input {
    border: 1px solid ;
    width: 12rem;
}

.labelStyle {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    margin: 5px;
    
}

.label {
    width: 20rem;
    background-color: red;
}