.containerStyle {
    width: 350px; 
    height: 100vh; 
    position: fixed;
    top: 20px;
    right: -55px;
    background-color: white; 
    z-index: 1000; 
    transition: transform 0.3s ease; 
    transform: translateX(0); 
  }

  